html, body {
    margin: 0;
    padding: 0;
    
    width: 100%;
}

/* Used for testing purposes */
body {
    height: 6000px;
}

/* Sponsors bar */
#sponsors-bar {
    position: fixed;
    top: 0;

    background-color: var(--surmount-purple);
    color: var(--surmount-white);
    height: 3em;
    width: 100%;
}
#sponsors-bar span.vertical-center {
    display: inline-block;
    height: 100%;

    /* Same as sponsors-bar height */
    line-height: 3em;

    vertical-align: middle;
}

/* Navbar */
nav.navbar {
    margin-top: 3em;
    background-color: var(--surmount-white);
    
    transition: 0.6s;
}
nav.navbar.shrink {
    margin-top: 0;
}
#nav-logo {
    --width: 12em;

    width: var(--width);
    margin-left: calc(50% - calc(var(--width) / 2));
    margin-right: auto;
    padding: 1em;

    transition: 0.6s;
}
#nav-logo.shrink {
    width: 3em;
    top: 0;
    margin-left: 0;
    padding: 0;
}