<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Surmount.pro eSports">
        <meta name="keywords" content="esports, csgo, Counter Strike, World of Warcraft">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link id="favicon" rel="shortcut icon" type="image/png" href="/img/branding/dark-favicon.png" />

        <title>Surmount.pro</title>

        <% include ../common/libstyles %>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/design.css" />
        <link rel="stylesheet" href="/css/layout.css" />
    </head>
    <body>
        <% include ../components/sponsors %>
        <% include ../components/navbar %>