<!-- Navbar -->
<nav class="navbar sticky-top shadow">
    <div class="container">
        <span id="nav-logo" class="navbar-brand">
            <img class="img-fluid" src="/img/branding/dark-logo.png" />
        </span>
    </div>
</nav>