<!-- Navbar -->
<nav class="navbar sticky-top shadow">
    <div class="container">
        <span id="nav-logo" class="navbar-brand">
                <img class="img-fluid d-block" src="/img/branding/dark-logo-w-name.png" />
        </span>
    </div>
</nav>