<div id="sponsors-bar">
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-4 h-100">
                <span class="vertical-center">SPONSOR</span>
            </div>
            <div class="col-4">
                <span class="vertical-center">SPONSOR</span>
            </div>
            <div class="col-4">
                <span class="vertical-center">SPONSOR</span>
            </div>
        </div>
    </div>
</div>